.logo img {
  width: 164px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}

.right ul {
  display: flex;
  gap: 34px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right ul li span {
  padding: 0 5px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 70px;
  font-family: sans-serif;
}

.first span {
  font-size: 40px;
}

section span img {
  width: 82px;
  margin: 0 23px;
  cursor: pointer;
}

.first p {
  font-size: 23px;
  width: 44vw;
  text-align: center;
}

.btn {
  background: #00b6d1;
  padding: 14px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin: 12px 0;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: white;
}

.green {
  background-color: #5cb85c;
}

.small {
  font-size: 12px;
}

.second {
  max-width: 50vw;
  margin: auto;
}

.item {
  padding: 23px;
  background: #f9f9f9;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.item-lang {
  font-weight: 700;
  text-align: center;
  padding-bottom: 36px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.download :nth-child(2) {
  font-size: 23px;
}

.download img {
  padding: 0px 12px;
}
.download {
  display: flex;
  font-family: sans-serif;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 100%;
  }
  nav {
    flex-direction: column;
  }
  .right ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;
  }
  .right ul li span {
    font-size: 20px;
    text-align: center;
  }
  .first {
    width: 100%;
    padding-top: 36px;
    gap: 25px;
    margin: 0px;
  }
  .first span {
    text-align: center;
  }
  section span img {
    width: 90px;
    margin: 0 32px;
  }
  .first p {
    font-size: 22px;
    width: 100%;
  }
  .btn {
    margin: 16px 0;
    width: 100%;
  }
  .small {
    font-size: 10px;
  }
  .second {
    width: 100%;
    margin: auto;
  }
  .item {
    padding: 20px;
  }
  .item-lang {
    padding-bottom: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
    padding-bottom: 10px;
  }
  .download :nth-child(2) {
    font-size: 20px;
  }
  .download img {
    padding: 0px 18px;
  }
  .download {
    gap: 10px;
    justify-content: center;
    padding: 20px 0px;
  }
}
